@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Alkatra', cursive;
}

::selection{
    color: white;
    background: var(--main-color);
}

h1,
h2,
h3,
p,
span {
    cursor: pointer;
}


:root {
    --main-color: rgb(125, 125, 254);
}

/* up start */
.up {
    bottom: 15px;
    right: -100px;
    z-index: 999;
    transition: all .5s ease !important;
}

.show {
    right: 15px;
}

/* up end */

/* navbar start */
.navbar {
    transition: all .5s ease;
}

.navbar ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
}

.navbar #logo-2 a:hover {
    border: none !important;
}

.btn:hover {
    background: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
    color: white !important;
}

/* navbar end */

/* landing start */
.landing {
    background: url(images/landing.jpg) center/cover fixed;
}

/* landing end */

/* section 1  strat */
.section-1 {
    box-shadow: 0px 0px 20px 70px black;
}

.section-1> :first-child span,
.gallery span,
.form-container span {
    transition: all 1s;
}

.section-1> :first-child span:after,
.section-1> :first-child span:before,
.gallery span:after,
.gallery span:before,
.form-container span:after,
.form-container span:before {
    content: " ";
    width: 0;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    transition: all 1s ease;
    top: 0;
}

.section-1> :first-child span:before,
.gallery span:before,
.form-container span:before {
    left: 0;
}

.section-1> :first-child span:after,
.gallery span:after,
.form-container span:after {
    right: 0;
}

.section-1> :first-child span:hover::after,
.gallery span:hover::after,
.form-container span:hover::after {
    width: 3px;
    right: 100%;
}

.section-1> :first-child span:hover::before,
.gallery span:hover::before,
.form-container span:hover::before {
    width: 3px;
    left: 100%;
}

.section-1> :first-child span:hover,
.gallery span:hover,
.form-container span:hover {
    color: var(--main-color) !important;
}

.section-1 img:hover {
    transition: all .3s ease;
    opacity: 1 !important;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.373);
}

.section-1 h2 {
    width: 92%;
}

.swiper-slide {
    padding: 15px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transition: all .5s ease;
    background: var(--main-color);
}

/* section 1 end */

/* section 2  strat */

.section-2 {
    background: url(images/section2.jpg) center/cover no-repeat;
    box-shadow: inset 0px 0px 10px 15px black;
}

.section-2 h2 {
    width: 92%;
}

.section-2 img,
.section-2 .cont {
    max-height: 350px;
}

.section-2 .cont div {
    bottom: -100%;
}

.section-2 .cont div {
    background: rgba(0, 0, 0, 0.8);
}

.cont:hover div {
    transition: all .5s ease;
    opacity: 1 !important;
    bottom: 0;
}

.section-2 .stars i {
    color: var(--main-color);
}

.section-2 .stars i:last-child {
    background-image: linear-gradient(to right, var(--main-color) 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: text;
}

/* section 2 end */

/* gallery start */

.gallery .row {
    max-width: 1100px;
}

.gallery .big-img {
    height: 80vh !important;
}

.gallery .small-img {
    height: 80vh !important;
}

.gallery .cont>div {
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
    bottom: -100%;
}

.gallery .cont:hover>div {
    bottom: 0;
}

.all-imgs img {
    height: 400px !important;
}

/* gallery end */

/* form start */

.form-container {
    background: url(images/form.jpg)center/cover fixed;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.75);
}

.form-container .social a i:hover {
    transition: all .5s ease-in-out;
    transform: rotate(360deg) !important;
    color: var(--main-color);
    text-shadow: 0 0 3px white, 0 0 6px white;
}

.form-container form input {
    outline: none !important;
    border-bottom: 2px solid white !important;
}

.form-container form input:focus {
    border-bottom: 2px solid var(--main-color) !important;
}



/* form end */

/* footer strat */
.footer {
    box-shadow: 0px 0px 20px 20px black;
}

.footer ul li a:hover,
.footer ul li i:hover {
    transition: all .3s ease;
    padding-left: 5px;
}

.footer .social a i:hover {
    transition: all .5s ease-in-out;
    transform: rotate(360deg) !important;
    color: darkred;
    text-shadow: 0 0 3px white, 0 0 6px white;
}

/* footer end */

/* media start */

@media (max-width: 480px) {
    .landing h1 {
        font-size: 6vh !important;
    }

}

@media (max-width: 768px) {
    .navbar ul li a:hover {
        border: none !important;
    }

    .gallery .big-img {
        height: 50vh !important;
    }

    .info {
        text-align: center !important;
    }

    .social {
        justify-content: center;
    }

    .form {
        margin-top: 20px !important;
        display: flex;
        justify-content: center;
    }

    form {
        width: 100%;
    }

    form input {
        width: 90%;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .footer {
        text-align: center !important;
    }

    .footer ul {
        padding-left: 0 !important;
    }

    .footer ul li {
        justify-content: center !important;
    }

}

@media (min-width: 768px) {
    form input {
        width: 100%;
    }

    .button {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 991px) {
    #logo-1 {
        display: block !important;
    }

    .navbar ul li {
        display: flex;
        justify-content: center;
    }

    .navbar ul li a {
        width: 50px !important;
    }

    #logo-2 {
        display: none !important;
    }
}

/* media end */